/* General styles for the page body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('./images/cookie1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Styles for the number of cookies */
#numberOfCookies {
    font-size: 64px;
    font-weight: bold;
    color: #ad8b43;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Styles for cookies per second */
#cookiesPerSecond {
    font-size: 24px;
    color: #fff;
    background-color: #b64d1cd3;
    padding: 4px;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s, transform 0.2s;
}


#cookiesPerSecond:hover {
    background-color: #b64d1c;
    transform: scale(1.05);
}


#cookiesPerSecond::before {
    content: '🍪';
    font-size: 28px;
    margin-right: 5px;
}

/* Styles for the main button */
#buttonHolder {
    margin-bottom: 20px;
}

#theButton {
    font-size: 130px;
    padding: 15px 30px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    white-space: pre-line;
    text-align: center;
}

#theButton:hover {
    background-color: transparent;
    transform: scale(1.3) rotate(360deg);
}

#theButton:hover::before {
    content: 'Click me!';
    background-color: #af4c4c;
    display: block;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    font-size: 15px;
    color: #ffffff;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        top: 90%;
        color: #f0f0f0;
    }
}


/* Styles for the shop */
#shop {
    display: flex;
    justify-content: space-around;
}

.shop-item {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    transition: transform 0.2s;
}

.shop-item:hover {
    transform: scale(1.05);
}

.shop-item button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #af4c4c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.shop-item button:hover {
    background-color: #d32f2f;
}


/* Styles for the reset button */
#resetButton {
    font-size: 20px;
    padding: 15px 30px;
    background-color: #b64d1cd3;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#resetButton:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}
